./ipyrad
./datadryad.org
./Stats
./Reports
./RADcap
./233582373
./Analyses_Data
./Undetermined_S0_R1_001.fasta.gz
./Undetermined_S0_R2_001.fasta.gz
./Undetermined_S0_I1_001.fasta.gz
./Undetermines_S0_I2_001.fasta.gz
./ipynb_checkpoints
./._Analyses_Data
